@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Monday Handbrush;
    src: url('assets/monday-handbrush-font/MondayHandbrush-6YMdA.otf');
    
}

body{
    background-color: #FBE1D6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}

.Ben-bg .logo{
    width: 250px;
}

.Ben-bg #firstSection{
    /* display: none;
    background-image: url('assets/L1.png');
    background-repeat: no-repeat;
    background-position: center;
    max-height: fit-content;
    width: 100vw;
    transition: 1s ease; */
    position: absolute;

    /* animation-name: animate;
    animation-duration: 15s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease; */
}

.logo{
    margin-left: 0;
    margin-right: 0;
  position: absolute;



}
#firstSection{
    max-width: 1200px;
    margin-left: 90px;
    position: absolute;
    z-index: 1;
}
 #firstSection .topImages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin-top: 30px;
    height:auto;
    overflow: hidden;
}
.topImages img { 
    width: 350px;
    height: 100%;
    padding: 20px;
    transition: all .3s ease-in-out;
    
}
/* .topImages .tree{
    width: 300px;
    height: 100%;
} */

.topImages img:hover{
    transform: scale(1.2);
}
.bottomImage{
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
    width: 1200px;
}
.bottomImage img{
    width: 280px;
    height: 100%;
    transition: all .3s ease-in-out;
}

.bottomImage img:hover{
    transform: scale(1.2);
}

 .benName{
    display: flex;
    /* font-family: 'DynaPuff', cursive; */
    /* font-family: Monday Handbrush; */
    font-size: 110px;
    max-height: 54%;
    color: #fff;
    font-family: Monday Handbrush;
    line-height: 1;
    margin-bottom: 20px;
}
#BenjiSection .nameAndDescription{
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    padding-top: 400px;
}
#OkorieSection .nameAndDescription{
    display: flex;
    flex-direction: column;
    padding-top: 400px;
    padding-left: 600px;
}
.nameAndDescription p{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 300;
}
 #OkorieSection{
    background-image: url(assets/L2.png);
    background-repeat: no-repeat;
    background-position: center;
    max-height: fit-content;
    width: 100%;
    position: relative;
    height: 100vh;
}
#BenjiSection{
    background-image: url(assets/L1.png);
    background-repeat: no-repeat;
    background-position: center;
    max-height: fit-content;
    width: 100vw;
    position: absolute;
    height: 100vh;
    z-index: -1;
  
    
}
a{
    text-decoration: none;
    width: 300px;
}
 .Navtext{
    position: relative;
    font-family: Monday Handbrush;
    font-weight: 400;
    font-size: 40px;
    line-height: 0;
    color: #fff;
    z-index: 999;
}


#gallery{
    right: 300px;
    top: 0px;
}
#History{
   left: 300px;
   top: 0px;
}
#discography{
    right: 900px;
    top: 100px;
}

/* @keyframes animate {
    0% {background-image: url(assets/L1.png);}
    25% {background-image: url(assets/L1.png);}
    50% {background-image: url(assets/L2.png);}
    100%{background-image: url(assets/L2.png);}
} */