@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Monday Handbrush;
    src: url('assets/monday-handbrush-font/MondayHandbrush-6YMdA.otf');
    
}

body{
    background-color: #FBE1D6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.Ben-bg .logo{
    width: 250px;
}

.Ben-bg #firstSection{
    /* display: none;
    background-image: url('assets/L1.png');
    background-repeat: no-repeat;
    background-position: center;
    max-height: fit-content;
    width: 100vw;
    transition: 1s ease; */
    position: absolute;

    /* animation-name: animate;
    animation-duration: 15s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease; */
}

.logo{
    margin-left: 0;
    margin-right: 0;
  position: absolute;



}
#firstSection{
    max-width: 1200px;
    margin-left: 90px;
    position: absolute;
    z-index: 1;
}
 #firstSection .topImages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 100%;
    margin-top: 30px;
}
.topImages img{
    width: 310px;
    height: 100%;
    margin: 0;padding: 0;
  
}
.topImages .tree{
    width: 300px;
    height: 100%;
}

.topImages img:hover{
    transition: 0.5s ease;
    cursor: pointer;
    width: 330px;
}
.bottomImage{
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
    width: 1200px;
}
.bottomImage img{
    width: 300px;
    height: 100%;
}

.bottomImage img:hover{
    transition: 0.5s ease;
    cursor: pointer;
    width: 330px;
}

 .benName{
    display: flex;
    /* font-family: 'DynaPuff', cursive; */
    /* font-family: Monday Handbrush; */
    font-size: 110px;
    max-height: 54%;
    color: #fff;
    font-family: Monday Handbrush;
    line-height: 1;
    margin-bottom: 20px;
}
#BenjiSection .nameAndDescription{
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    padding-top: 400px;
}

.nameAndDescription p{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 300;
}
body #OkorieSection{
    background-image: url(assets/L2.png);
    background-repeat: no-repeat;
    background-position: center;
    max-height: fit-content;
    width: 100vw;
    position: relative;
    height: 100vh;
    display: none;
}
#BenjiSection{
    background-image: url(assets/L1.png);
    background-repeat: no-repeat;
    background-position: center;
    max-height: fit-content;
    width: 100vw;
    position: relative;
    height: 100vh;
    z-index: -1;
}






/* @keyframes animate {
    0% {background-image: url(assets/L1.png);}
    25% {background-image: url(assets/L1.png);}
    50% {background-image: url(assets/L2.png);}
    100%{background-image: url(assets/L2.png);}
} */