*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Monday Handbrush;
    src: url('assets/monday-handbrush-font/MondayHandbrush-6YMdA.otf');
    
}

body{
    background-color: #FBE1D6;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
}

.Ben-bg .logo{
    width: 250px;
}

.Ben-bg #firstSection{
    background-image: url('assets/L1.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 100%;
    position: relative;
}
.logo{
  position: absolute;
  cursor: pointer;


}
#firstSection{
    max-width: 1200px;
    margin-left: 90px;
}
#firstSection .topImages{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    
}
.topImages img{
    width: 400px;
    height: 100%;
    cursor: pointer;
}
#firstSection .bottomImage{
    display: flex;
    margin-top: 150px;
}
.bottomImage img{
    width: 300px;
    height: 100%;
}
.nameAndDescription{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 120px;
}
.nameAndDescription p{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.nameAndDescription .benName{
    font-family: MondayHandbrush;
    font-size: 80px;
    color: #fff;
}